
*.jpg
*.bmp
soy_detect/detect_source/test_data/test.txt
*.lnk
soy_detect/train_source/transform_list.txt
*.net
*.net
*.pyc
soy_detect/train_source/result_list.txt
*.png
*.jpeg
*.gif
soy_detect/detect_source/check_soy.net
soy_detect/detect_source/check_soy.net
